.layout-header {
  height: 70px;
  background-color: #116ec9;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  .logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
    }
  }

  & > div {
    border: 1px solid green;
    flex-grow: 1;
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > div {
      margin-left: 20px;
    }
  }
}
