$color-text: #fafafa;

$color-primary: #116ec9;
$color-primary-invert: #fff;

$box-width: 90%;
$box-max-width: 1460px;

$breakpoint-mobile: 550px;
$breakpoint-tablet: 1145px;
$breakpoint-small-monitor: 1400px;
